body {
    margin: 0 5% 0 5%;
    padding: 0;
}

#nav {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 0;
}

#email {
    margin-left: 7px;
    font-size: 180%;
}

.logo {
	margin-top: 20px;
}


#foot_center {
	text-align: center;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #e7e7e7;	
}


#glyph {
	margin-top: 80px;
}

#news {
	border-radius: 50px;
	border: 1px solid black;
	margin-left: 40px;
}